.App {

}

.ShortUrlForm .row {
    padding-bottom: 10px;
}

@media (min-width: 800px) {
    .viewCount {
        display: inline;
        float: right;
    }
}

@media (max-width: 800px) {
    .viewCount {
        text-align: center;
        font-size: 2rem;
    }
}

.viewCount b {
    padding-right: 5px;
}

.short-url-item {
    padding-bottom: 20px;
}

